<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>admin_area</key>
		<string>1</string>
		<key>cnty</key>
		<string>1</string>
		<key>lat</key>
		<string>1</string>
		<key>location</key>
		<string>1</string>
		<key>parent_city</key>
		<string>1</string>
		<key>tz</key>
		<string>1</string>
		<key>lon</key>
		<string>1</string>
		<key>cond_code_d</key>
		<string>1</string>
		<key>tmp_max</key>
		<string>1</string>
		<key>hum</key>
		<string>1</string>
		<key>wind_spd</key>
		<string>1</string>
		<key>wind_spd_d</key>
		<string>1</string>
		<key>pres</key>
		<string>1</string>
		<key>wind_spd_n</key>
		<string>1</string>
		<key>vis</key>
		<string>1</string>
		<key>wind_dir</key>
		<string>1</string>
		<key>cond_txt_d</key>
		<string>1</string>
		<key>cond_txt_n</key>
		<string>1</string>
		<key>date</key>
		<string>1</string>
		<key>mr</key>
		<string>1</string>
		<key>sr</key>
		<string>1</string>
		<key>tmp_min</key>
		<string>1</string>
		<key>wind_sc</key>
		<string>1</string>
		<key>ms</key>
		<string>1</string>
		<key>wind_deg</key>
		<string>1</string>
		<key>ss</key>
		<string>1</string>
		<key>cond_code_n</key>
		<string>1</string>
		<key>pcpn</key>
		<string>1</string>
		<key>pop</key>
		<string>1</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1</string>
		<key>cond_txt_d</key>
		<string>1</string>
		<key>cond_txt_n</key>
		<string>1</string>
		<key>tmp_max</key>
		<string>1</string>
		<key>tmp_min</key>
		<string>1</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1</string>
		<key>cond_txt_d</key>
		<string>1</string>
		<key>cond_txt_n</key>
		<string>1</string>
		<key>tmp_max</key>
		<string>1</string>
		<key>tmp_min</key>
		<string>1</string>
	</dict>
</array>
</plist>
